# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\02-code\00-bishe\01-code_completion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
